<div class="row">

  <div class="col-md-12">
    <h2>
      Claim
    </h2>
  </div>

  <div class="col-md-12">
    <p>
      Did you complete the issue? If so you can claim the bounty. Link to the
      Github Pull Request.
    </p>


    <form class="form-inline" novalidate>
      <div class="form-group">
        <label>
          Github Pull Request
        </label>
        <input type="text" class="form-control">
        <input type="submit" class="btn btn-success pull-right" />
      </div>
    </form>
  </div>
</div>
