<div class="page-header">
  <h2>
    Add OPML to rutt
  </h2>
  <span class="badge pull-right">$12.00</span>
</div>
<div class="page-header">
  <div class="form-group">
    <label>
      Github Link
    </label>
    <input type="text" class="form-control" value="{{.OriginalUrl}}">
  </div>
</div>
<div>
  The goal is to add OPML support to rutt.
  <div class="page-header">
    <h3 class="pull-left">
      Contributions
    </h3>
  </div>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>
        <img src="https://s3.amazonaws.com/media.jetstrap.com/1HfQRvwwTKy8jAn1FM2O_254af7d265d4e131e8c4e35374ceae81.png"
             height="24px">
        defunkt
      </td>
      <td>
        $12.00
      </td>
    </tr>
  </tbody>
</table>
<form class="form-inline">
  <div class="form-group">
    <select class="form-control pull-left">
      <option value="10">
        $10
      </option>
      <option value="20">
        $20
      </option>
      <option value="50">
        $50
      </option>
      <option value="100">
        $100
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">
    Contribute
  </button>
</form>
<div class="page-header">
  <h3>
    Claim
  </h3>
  <div>
    Did you complete the issue? If so you can claim the bounty. Link to the
    GIthub Pull Request.
    <div>
      <br>
      <div class="form-group">
        <label>
          Github Pull Request
        </label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-info pull-left">Claim</a>
</div>
</div>
