<p>{{.Issue.Project}}</p>
<p>{{.Issue.Repo}}</p>
<p>{{.Issue.Identifier}}</p>
<p><a class="coinbase-button" data-code="{{.Bounty.CoinbaseButtonCode}}" href="https://coinbase.com/checkouts/{{.Bounty.CoinbaseButtonCode}}">Pay with Bitcoin</a></p>