
<p>{{.Issue.Project}}</p>
<p>{{.Issue.Repo}}</p>
<p>{{.Issue.Identifier}}</p>
<p><a class="coinbase-button" data-code="{{.Issue.CoinbaseButtonCode}}" href="https://coinbase.com/checkouts/{{.Issue.CoinbaseButtonCode}}">Contribute With Bitcoin</a></p>