<div class="jumbotron">
  <h1>
    bountyforcode
  </h1>
  <p>
    Easiest way to get code written for your favorite open source projects.
  </p>
  <p>
    <a class="btn btn-primary btn-lg" href="#">Create a Bounty</a>
  </p>
</div>
<div class="page-header">
  <h3>
    Create a Bounty
  </h3>
  <form class="form-inline"  action="/bounties" method="post">
    <div class="form-group">
      <input type="text" class="form-control input-lg col-lg-8" placeholder="http://github.com/issue/1" >
    </div>
    <div class="form-group">
      <select class="form-control input-lg">
        <option value="10">
          $10
        </option>
        <option value="20">
          $20
        </option>
        <option value="50">
          $50
        </option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn pull-right btn-success btn-lg">
        Create Bounty
      </button>
    </div>
  </form>
</div>

<div class="page-header">
  <h3>
    Discover
  </h3>

  <div class="col-xs-4">
    <div class="row">
      <h4 class="pull-left">rutt</h4>
      <span class="badge pull-right">$12.00</span>
    </div>

    <div class="row">
      Add support for OPML.
    </div>

    <div class="row">
      <a href="#" class="btn btn-success btn-xs">Contribute</a>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="row">
      <h4 class="pull-left">bountyforcode</h4>
      <span class="badge pull-right">$12.00</span>
    </div>

    <div class="row">
      Create credit card payments.
    </div>

    <div class="row">
      <a href="#" class="btn btn-success btn-xs">Contribute</a>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="row">
      <h4 class="pull-left">rails</h4>
      <span class="badge pull-right">$12.00</span>
    </div>

    <div class="row">
      Have better icon support.
    </div>

    <div class="row">
      <a href="#" class="btn btn-success btn-xs">Contribute</a>
    </div>
  </div>
</div>
