<form accept-charset="UTF-8" action="/bounties" id="bounty-new-form" method="post">
  <div class='new-bounty span12'>
    <h2>create</h2>
  </div>
  <div class='span12'>
    <em class='ask'>issue</em>
    <br>
    <input class="issue-url" id="issue-url" name="issue-url" placeholder="https://github.com/abhiyerra/scalper/issues/1" type="text" value="" />
  </div>
  <div class='span12' style='margin-left: 0;'>
    <div class='span3'>
      <em class='ask'>amount</em>
      <br>
      $
      <input class="amount" id="amount" name="amount" placeholder="50.00" type="text" value="" />
    </div>
    <div class='span3'>
      <em class='ask'>expires</em>
      <br>
      <input class="expires_at" id="expires_at" name="expires_at" placeholder="may 1st" type="text" value="" />
    </div>
  </div>
  <div class='span11 letsgo-box'>
    <input class="btn btn-success btn-big" id="payment-submit" name="commit" type="submit" value="Let&#39;s Go" />
  </div>
</form>
